###Project Summary
<img src ='https://images.unsplash.com/photo-1556740772-1a741367b93e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2700&q=80' width="800" height = "200">
######Ivy(Ruxin) Tong | Dec 15th, 2020 | Image courtesy of Blake Wisz"

####**Objective** : Classify 2627 customers into 4 existing groups (A,B,C,D)






####**Datasets** : Test.csv | Train.csv (from Kaggle) 
######***About the train data***

| Variable   | Definition  | Description |
|-----------------  |---------------|---------------|
| ID    | Unique ID |  |
| Gender  | Gender of the customer | Binary |
| Ever_Married | Marital Status of the customer | Binary |
| Age | Age of the customer | Range from 18 to 89|
| Graduated | Is the customer a graduate | Binary |
| Profession | Profession of the customer |  9 types of Profession|
| Work_Experience | Work experience in years |Range from 0 to 14 years |
| Spending_Score | Spending score of the customer | low, avg, and high|
| Family_Size | Number of family memebers for the customer (including her/himself) | Range from 1 to 9|
| Var_1| Anonymized category for the customer | 7 types|
| Segmentation | Target customer segmentation | 4 Groups : A, B, C, D|

######***Acknowledgement*** : Datasets were downloaded from Kaggle website



####**Conclusion**:




####**Model and Result**:

#### Analysis
  - Load Packages

In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
pd.set_option('display.float_format', lambda x : '%0.2f' %x)


# Scikit-Learn ML Libraries :
from sklearn.preprocessing import *
from sklearn.model_selection import *
from sklearn.metrics import *

%matplotlib inline

- Read Data

In [0]:
test = spark.read.csv("/FileStore/tables/Test.csv", header= True, inferSchema = True).toPandas()
test.head()
train = spark.read.csv("/FileStore/tables/Train.csv", header= True, inferSchema = True).toPandas()
train.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.00,Low,4.00,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,nan,Average,3.00,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.00,Low,1.00,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.00,High,2.00,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,nan,High,6.00,Cat_6,A

In [0]:
print("Train dataset: ")
print("Number of Rows: " + str(train.shape[0]))
print("Number of Columns: " + str(train.shape[1]))
display(train.info())


print("Test dataset shape: "+ str(test.shape))
display(test.info())

In [0]:
# Missing Values in train dataset
print("Train dataset missing value:  ")
print(train.isna().sum().sort_values(ascending = False))  # number
((train.isna().sum()/len(train))*100).sort_values(ascending = False) # percentage

In [0]:
# Missing values im test dataset
print("Test dataset missing value:  ")
print(test.isna().sum().sort_values(ascending = False))  # number
((test.isna().sum()/len(test))*100).sort_values(ascending = False) # percentage

In [0]:
for variable in train.drop(['Age', 'ID','Work_Experience'], axis=1).columns:
  count = train.groupby(variable).size()
  display(count)
  print(" ")

In [0]:
# Understand variables